.header-container {
    display: flex;
    height: 50px;
    align-items: center;
    padding: var(--spacing-small);
    background-color: var(--color-white);
}
.header__counter {
    margin-left: auto;
    padding-right: var(--spacing-medium);
    cursor: pointer;
    color: var(--spacing-accent);
    font-weight: bold;
}